<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="IgnoreSets" value="21bf9e05-fb23-4b1d-b89a-398f671f5999,49f27cd8-8398-4165-b7e7-f93497f0c54b,71f6b540-64c6-4ddd-88f6-6cae1b41efc8" />
  </appSettings>
</configuration>